<input type="radio" name="options" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span appRainbow>{{"All("+all+")"}}</span>

<input type="radio" name="options" value="Male" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span appRainbow>{{"Male("+male+")"}}</span>

<input type="radio" name="options" value="Female" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()">
<span appRainbow>{{"Female("+female+")"}}</span>