<div>
    <ul class="nav nav-tabs">
        <li>
            <a routerLink="emps">Employees</a>
        </li> &nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a routerLink="emp">Employee</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a routerLink="add">Add Employee</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a routerLink="addr">Add Reactive Employee</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li>
            <a routerLink="user">User</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;

    </ul>
</div>